In [0]:
text1 = 'ethics are built right into the ideals and objectives of United'

# Basic Operations

In [0]:
len(text1)

70

In [0]:
text2 = text1.split(' ')
#.splitlines()
#.join(t)  opposite of splitting

In [0]:
len(text2)

12

In [0]:
text2

In [0]:
# to find text that is >3 letter long
[w for w in text2 if len(w) > 3 ]

In [0]:
# to check if word starts with capital letter
[w for w in text2 if w.istitle()]
#isupper()
#islower()
#isalpha
#isdigit
#isalnum

In [0]:
#to check if the word ends with 's'
[w for w in text2 if w.endswith('s')]

#startswith()
#t in s

['ethics', 'ideals', 'objectives', 'Natons']

In [0]:
text3 = 'To be or not to be'

In [0]:
text4 = text3.split(' ')

In [0]:
len(set(text4)) # but only 4 unique to be or not

5

In [0]:
len(set([w.lower() for w in text4]))
#.upper()
#.titlecase()

4

In [0]:
'''
s.strip() it will remove all the white space characters from the string from the front and end
s.rstrip() from the end of the string
s.find(t) will give the index
s.rfind(t) index from reverse
s.replace(u,v) replace every occurence with v
'''

'\ns.strip() it will remove all the white space characters from the string from the front\ns.rstrip() from the end of the string\ns.find(t)\ns.rfind(t)\ns.replace(u,v) replace every occurence with v\n'

In [0]:
t = 'ouagadouug' # it wont get split because there is not separator so we can use list(t)
# or [c for c in t]

In [0]:
#cleaning
text8 = '    A quick brown frog jumped over the body.  '
# if split by ' ' then empty string will also come
text9 =text8.strip()

In [0]:
text9.split(' ')

['A', 'quick', 'brown', 'frog', 'jumped', 'over', 'the', 'body.']

# Larger Files

In [0]:
'''
f = open('file.txt', 'r') in read mode
f.readline() read the first line, it will give \n at the end


f.seek(0) reset the reading to 0 
text12 = f.read() or f.read(n) to read n characters
f.write(message)
f.close()
text13 = text12.splitlines() delimited by backslash \n
'''

# Regex

In [0]:
'''We can use regular expressions to help us with more complex parsing.

For example '@[A-Za-z0-9_]+' will return all words that:

start with '@' and are followed by at least one:
capital letter ('A-Z')
lowercase letter ('a-z')
number ('0-9')
or underscore ('_')
'''

#import re # import re - a module that provides support for regular expressions

#[w for w in text8 if re.search('@[A-Za-z0-9_]+', w)]

# + means for one or more times

"We can use regular expressions to help us with more complex parsing.\n\nFor example '@[A-Za-z0-9_]+' will return all words that:\n\nstart with '@' and are followed by at least one:\ncapital letter ('A-Z')\nlowercase letter ('a-z')\nnumber ('0-9')\nor underscore ('_')\n"

In [0]:
'''
.  = wildcard, matches a single character
^ = start of a string
$ = end of the string
[] = mathces one of the set of characters within []
[a-z] = matches one of the range of characters
[^abc] = not a or b or c
a|b = matches a or b, where a and b are strings
\d = any digit
\D = any non digit
\s = any whitespace character
\S = any non white space character
\w = any alphanumeric characteer
\W = .......


* = 0 or more times
+ = one or more times
? = 0 or one
{3} = exactly 3
{n,} = atleast n
{,n} = atmost n
{m,n} = atleast m and atmost n

'''

'\n.  = wildcard, matches a single character\n^ = start of a string\n$ = end of the string\n[] = mathces one of the set of characters within []\n[a-z] = matches one of the range of characters\n[^abc] = not a or b or c\na|b = matches a or b, where a and b are strings\n\\d = any digit\n\\D = any non digit\n\\s = any whitespace character\n\\S = any non white space character\n\\w = any alphanumeric characteer\n\\W = .......\n\n\n* = 0 or more times\n+ = one or more times\n? = 0 or one\n{3} = exactly 3\n{n,} = atleast n\n{,n} = atmost n\n{m,n} = atleast m and atmost n\n\n'

In [0]:
# [w for w in text12 if re.search('@\w+',text12)] it will gives words starting with @ with one or more occurences of alphnumeric

In [0]:
#re.findall(r'[aeiou]', text12) # find all vowels

In [0]:
# to write date
# exp =re.findall( r'\d{2}[\-]\d{2}[\-]\d{4}', text12)
# r is used to tell that take whole as a raw string

# r'\d{2} (?:jan|feb|march) \d{4}'
'''
two digits with a slash or a dash then again for month and then 4 digit for year
 '''

'\ntwo digits with a slash or a dash then again for month and then 4 digit for year\n '

In [0]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [0]:
# find the number of characters for each string in df['text']
df['text'].str.len()

In [0]:
# find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

In [0]:
# find which entries contain the word 'appointment'
df['text'].str.contains('appointment')

In [0]:
# find how many times a digit occurs in each string
df['text'].str.count(r'\d')

In [0]:
# find all occurances of the digits
df['text'].str.findall(r'\d')

In [0]:
# group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d\d)')

In [0]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

In [0]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

In [0]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

# Assignment 1

Extract all the dates

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving dates.txt to dates.txt
User uploaded file "dates.txt" with length 67938 bytes

In [0]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [0]:
def date_sorter():
    
    regex1 = '(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})'
    regex2 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{1,2}[,]{0,1}[+\s]\d{4})'
    regex3 = '(\d{1,2}[+\s](?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
    regex4 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
    regex5 = '(\d{1,2}[/-][1|2]\d{3})'
    regex6 = '([1|2]\d{3})'
    full_regex = '(%s|%s|%s|%s|%s|%s)' %(regex1, regex2, regex3, regex4, regex5, regex6)
    parsed_date = df.str.extract(full_regex)
    parsed_date = parsed_date.iloc[:,0].str.replace('Janaury', 'January').str.replace('Decemeber', 'December')
    parsed_date = pd.Series(pd.to_datetime(parsed_date))
    parsed_date = parsed_date.sort_values(ascending=True).index
    return pd.Series(parsed_date.values)

# NLTK Basic

In [0]:
import nltk

In [0]:
nltk.download()

In [0]:
nltk.download('gutenberg')
nltk.download('genesis')
nltk.download('treebank')
nltk.download('nps_chat')
nltk.download('webtext')
nltk.download('inaugural')
#nltk.download('all')

In [0]:
from nltk.book import *

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

In [0]:
text1

In [0]:
sents() # one sentence each from each text corpora

sent1: Call me Ishmael .
sent2: The family of Dashwood had long been settled in Sussex .
sent3: In the beginning God created the heaven and the earth .
sent4: Fellow - Citizens of the Senate and of the House of Representatives :
sent5: I have a problem with people PMing me to lol JOIN
sent6: SCENE 1 : [ wind ] [ clop clop clop ] KING ARTHUR : Whoa there !
sent7: Pierre Vinken , 61 years old , will join the board as a nonexecutive director Nov. 29 .
sent8: 25 SEXY MALE , seeks attrac older single lady , for discreet encounters .
sent9: THE suburb of Saffron Park lay on the sunset side of London , as red and ragged as a cloud of sunset .

In [0]:
sent1 # first sentence from text1 into list form

['Call', 'me', 'Ishmael', '.']

In [0]:
sent7

['Pierre',
 'Vinken',
 ',',
 '61',
 'years',
 'old',
 ',',
 'will',
 'join',
 'the',
 'board',
 'as',
 'a',
 'nonexecutive',
 'director',
 'Nov.',
 '29',
 '.']

In [0]:
len(sent7) # may not be unique

18

In [0]:
len(text7) # total words may not be unique

100676

In [0]:
len(set(text7))

12408

In [0]:
#list(text7) # all the words in the text7

In [0]:
list(set(text7))[:10]

['allegedly',
 '*-72',
 'completed',
 'gilt',
 'Property\\/casualty',
 'reforms',
 'Huber',
 'leap',
 'FTC',
 'crapshoot']

Freq of words

In [0]:
# frequency of words
d = FreqDist(text7)

In [0]:
len(d)

12408

In [0]:
vocab_words = list(d.keys())

In [0]:
vocab_words[:10]

['Pierre', 'Vinken', ',', '61', 'years', 'old', 'will', 'join', 'the', 'board']

In [0]:
d[',']

4885

In [0]:
freq_words = [w for w in vocab_words if len(w) > 5 and d[w] > 100]

In [0]:
freq_words

['billion',
 'company',
 'president',
 'because',
 'market',
 'million',
 'shares',
 'trading',
 'program']

**Normalising and stemming**



*  Normalisation is when we transform the words to make it appear the same way say play, played, Play, playing etc
*   Stemming is to find the root word

In [0]:
t = 'play played Play plays playing playings'

In [0]:
word = t.lower().split(' ')

In [0]:
word

['play', 'played', 'play', 'plays', 'playing', 'playings']

In [0]:
porter = nltk.PorterStemmer()

In [0]:
[porter.stem(w) for w in word]

['play', 'play', 'play', 'play', 'play', 'play']

Lemmatisation

In [0]:
nltk.download('udhr')
udhr = nltk.corpus.udhr.words('English-Latin1')
# universal declaration of human rights

[nltk_data] Downloading package udhr to /root/nltk_data...
[nltk_data]   Unzipping corpora/udhr.zip.

In [0]:
udhr[:20]

In [0]:
[porter.stem(w) for w in udhr[:20]]  # here we can say that some words are not valid so lemmatization

['univers',
 'declar',
 'of',
 'human',
 'right',
 'preambl',
 'wherea',
 'recognit',
 'of',
 'the',
 'inher',
 'digniti',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalien',
 'right',
 'of']

In [0]:
nltk.download('wordnet')
WNlemma = nltk.WordNetLemmatizer()
[WNlemma.lemmatize(t) for t in udhr[:20]]

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'right',
 'of']

Tokenisation

In [0]:
nltk.download('punkt')
text11 = "Children shouldn't drink a sugary drink before bed."
text11.split(' ') # it is also keeping full stop so we can use inbuilt tokeniser

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

['Children', "shouldn't", 'drink', 'a', 'sugary', 'drink', 'before', 'bed.']

In [0]:
nltk.word_tokenize(text11)

['Children',
 'should',
 "n't",
 'drink',
 'a',
 'sugary',
 'drink',
 'before',
 'bed',
 '.']

In [0]:
text12 = "This is the first sentence. A gallon of milk in the U.S. costs $2.99. Is this the third sentence? Yes, it is!"
sentences = nltk.sent_tokenize(text12) # nltk inbuilt sentence splitter
len(sentences)

4

In [0]:
sentences

['This is the first sentence.',
 'A gallon of milk in the U.S. costs $2.99.',
 'Is this the third sentence?',
 'Yes, it is!']

# NLTK Advanced

POS(Part of speech) tagging

In [0]:
import nltk
nltk.download('tagsets')

[nltk_data] Downloading package tagsets to /root/nltk_data...
[nltk_data]   Unzipping help/tagsets.zip.

True

In [0]:
nltk.help.upenn_tagset('MD')

MD: modal auxiliary
    can cannot could couldn't dare may might must need ought shall should
    shouldn't will would

In [0]:
text11 = "Children shouldn't drink a sugary drink before bed."

In [0]:
text13 = nltk.word_tokenize(text11)

In [0]:
nltk.download('averaged_perceptron_tagger')
nltk.pos_tag(text13)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

[('Children', 'NNP'),
 ('should', 'MD'),
 ("n't", 'RB'),
 ('drink', 'VB'),
 ('a', 'DT'),
 ('sugary', 'JJ'),
 ('drink', 'NN'),
 ('before', 'IN'),
 ('bed', 'NN'),
 ('.', '.')]

In [0]:
nltk.download('punkt')
# Parsing sentence structure
text15 = nltk.word_tokenize("Alice loves Bob")
grammar = nltk.CFG.fromstring("""
S -> NP VP
VP -> V NP
NP -> 'Alice' | 'Bob'
V -> 'loves'
""")

parser = nltk.ChartParser(grammar)
trees = parser.parse_all(text15)
for tree in trees:
    print(tree)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
(S (NP Alice) (VP (V loves) (NP Bob)))

In [0]:
# generating grammer rules is very time consuming task
nltk.download('treebank')
from nltk.corpus import treebank
text17 = treebank.parsed_sents('wsj_0001.mrg')[0]
print(text17)

[nltk_data] Downloading package treebank to /root/nltk_data...
[nltk_data]   Unzipping corpora/treebank.zip.
(S
  (NP-SBJ
    (NP (NNP Pierre) (NNP Vinken))
    (, ,)
    (ADJP (NP (CD 61) (NNS years)) (JJ old))
    (, ,))
  (VP
    (MD will)
    (VP
      (VB join)
      (NP (DT the) (NN board))
      (PP-CLR (IN as) (NP (DT a) (JJ nonexecutive) (NN director)))
      (NP-TMP (NNP Nov.) (CD 29))))
  (. .))

# Assignment 2

In [0]:
# ratio of whale and Whale count by total freq of words
'''
def answer_two():
    
    dist = nltk.FreqDist(text1)
    return (dist['whale'] + dist['Whale'])/len(text1)*100

answer_two()


'''
# most common 20 words
#return nltk.FreqDist(text1).most_common(20)

'''
#length of greater than 5 and frequency of more than 150?
    dist = nltk.FreqDist(text1)
    vocab1 = dist.keys()
    freqwords = [w for w in vocab1 if len(w)>5 and dist[w] > 150]
    return sorted(freqwords)
'''

'''
#longest word in text1 and that word's length.

    maxlen = max(len(w) for w in text1)
    word = [w for w in text1 if len(w) == maxlen]
    return (word[0],maxlen)
'''

#unique words have a frequency of more than 2000? What is their frequency?
'''
    dist = nltk.FreqDist(text1)
    freqwords = [(dist[w],w) for w in set(text1) if w.isalpha() and dist[w]>2000]
    return sorted(freqwords, key=lambda x:x[0],reverse=True)

'''

#What are the 5 most frequent parts of speech in this text? What is their frequency?
'''
    import collections
    pos_list = nltk.pos_tag(text1)
    pos_counts = collections.Counter((subl[1] for subl in pos_list))
    return pos_counts.most_common(5)
'''

'\n    import collections\n    pos_list = nltk.pos_tag(text1)\n    pos_counts = collections.Counter((subl[1] for subl in pos_list))\n    return pos_counts.most_common(5)\n'

In [0]:
#spelling recommendation

'''

from nltk.corpus import words
correct_spellings = words.words()

#For every misspelled word, the recommender should find find the word in correct_spellings that has the shortest distance*, 
#and starts with the same letter as the misspelled word, and return that word as a recommendation.

#*Each of the three different recommenders will use a different distance measure


def answer(entries=['cormulent', 'incendenece', 'validrate']):
    
    recommend = []
    for entry in entries:
        
        # Match first letter. input_spell contains all words in correct_spellings with the same first letter.
        input_spell = [x for x in correct_spellings if x[0] == entry[0]]
        
        # Find the jaccard distance between the entry word and every word in correct_spellings with the same first letter.
        jaccard_dist = [nltk.jaccard_distance(set(nltk.ngrams(entry,n=3)), set(nltk.ngrams(x,n=3))) for x in input_spell]
        
        # Recommend the word in input_spell with the minimum Jaccard distance.
        recommend.append(input_spell[np.argmin(jaccard_dist)])
        
    return recommend

'''
'''

    recommend = []
    for entry in entries:
        
        # Match first letter. input_spell contains all words in correct_spellings with the same first letter.
        input_spell = [x for x in correct_spellings if x[0] == entry[0]]
        
        # Find the edit between the entry word and every word in correct_spellings with the same first letter.
        DL_dist = [nltk.edit_distance(x, entry, transpositions=True) for x in input_spell]
        
        # Recommend the word in input_spell with the minimum edit.
        recommend.append(input_spell[np.argmin(DL_dist)])
        
    return recommend
'''

'\n\n    recommend = []\n    for entry in entries:\n        \n        # Match first letter. input_spell contains all words in correct_spellings with the same first letter.\n        input_spell = [x for x in correct_spellings if x[0] == entry[0]]\n        \n        # Find the edit between the entry word and every word in correct_spellings with the same first letter.\n        DL_dist = [nltk.edit_distance(x, entry, transpositions=True) for x in input_spell]\n        \n        # Recommend the word in input_spell with the minimum edit.\n        recommend.append(input_spell[np.argmin(DL_dist)])\n        \n    return recommend\n'

# Classification

In [0]:
'''
from nltk.classify import NaiveBayesClassifier
classifier = NaiveBayesClassifier.train(train_data)
'''

'\nfrom nltk.classify import NaiveBayesClassifier\nclassifier = NaiveBayesClassifier.train(train_data)\n'

In [0]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

In [0]:
'''

import pandas as pd
import numpy as np

# Read in the data
df = pd.read_csv('Amazon_Unlocked_Mobile.csv')

# Sample the data to speed up computation
# Comment out this line to match with lecture
df = df.sample(frac=0.1, random_state=10)

df.head()

#=========================================
#preprocessing

# Drop missing values
df.dropna(inplace=True)

# Remove any 'neutral' ratings equal to 3
df = df[df['Rating'] != 3]

# Encode 4s and 5s as 1 (rated positively)
# Encode 1s and 2s as 0 (rated poorly)
df['Positively Rated'] = np.where(df['Rating'] > 3, 1, 0)
df.head(10)
'''

"\n\nimport pandas as pd\nimport numpy as np\n\n# Read in the data\ndf = pd.read_csv('Amazon_Unlocked_Mobile.csv')\n\n# Sample the data to speed up computation\n# Comment out this line to match with lecture\ndf = df.sample(frac=0.1, random_state=10)\n\ndf.head()\n\n#=========================================\n#preprocessing\n\n# Drop missing values\ndf.dropna(inplace=True)\n\n# Remove any 'neutral' ratings equal to 3\ndf = df[df['Rating'] != 3]\n\n# Encode 4s and 5s as 1 (rated positively)\n# Encode 1s and 2s as 0 (rated poorly)\ndf['Positively Rated'] = np.where(df['Rating'] > 3, 1, 0)\ndf.head(10)\n"

In [0]:
'''
# Most ratings are positive
df['Positively Rated'].mean()
'''

"\n# Most ratings are positive\ndf['Positively Rated'].mean()\n"

In [0]:
'''
from sklearn.model_selection import train_test_split

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(df['Reviews'], 
                                                    df['Positively Rated'], 
                                                    random_state=0)
'''

"\nfrom sklearn.model_selection import train_test_split\n\n# Split data into training and test sets\nX_train, X_test, y_train, y_test = train_test_split(df['Reviews'], \n                                                    df['Positively Rated'], \n                                                    random_state=0)\n"

In [0]:
'''
print('X_train first entry:\n\n', X_train.iloc[0])
print('\n\nX_train shape: ', X_train.shape)
'''

"\nprint('X_train first entry:\n\n', X_train.iloc[0])\nprint('\n\nX_train shape: ', X_train.shape)\n"

In [0]:
#####CountVectorizer
'''
from sklearn.feature_extraction.text import CountVectorizer

# Fit the CountVectorizer to the training data
vect = CountVectorizer().fit(X_train)
'''

'\nfrom sklearn.feature_extraction.text import CountVectorizer\n\n# Fit the CountVectorizer to the training data\nvect = CountVectorizer().fit(X_train)\n'

In [0]:
'''
vect.get_feature_names()[::2000]
'''

'\nvect.get_feature_names()[::2000]\n'

In [0]:
'''
len(vect.get_feature_names())
'''

'\nlen(vect.get_feature_names())\n'

In [0]:
'''
# transform the documents in the training data to a document-term matrix
X_train_vectorized = vect.transform(X_train)

X_train_vectorized
'''
# each row is a document and each column is a word of the vocabulary

'\n# transform the documents in the training data to a document-term matrix\nX_train_vectorized = vect.transform(X_train)\n\nX_train_vectorized\n'

In [0]:
# training
'''
from sklearn.linear_model import LogisticRegression

# Train the model
model = LogisticRegression()
model.fit(X_train_vectorized, y_train)
'''
# Logistics regression works for high dimensional sparse data

'\nfrom sklearn.linear_model import LogisticRegression\n\n# Train the model\nmodel = LogisticRegression()\nmodel.fit(X_train_vectorized, y_train)\n'

In [0]:
# predict
'''
from sklearn.metrics import roc_auc_score

# Predict the transformed test documents
predictions = model.predict(vect.transform(X_test))

print('AUC: ', roc_auc_score(y_test, predictions))
'''

"\nfrom sklearn.metrics import roc_auc_score\n\n# Predict the transformed test documents\npredictions = model.predict(vect.transform(X_test))\n\nprint('AUC: ', roc_auc_score(y_test, predictions))\n"

In [0]:
'''
# get the feature names as numpy array
feature_names = np.array(vect.get_feature_names())

# Sort the coefficients from the model
sorted_coef_index = model.coef_[0].argsort()

# Find the 10 smallest and 10 largest coefficients
# The 10 largest coefficients are being indexed using [:-11:-1] 
# so the list returned is in order of largest to smallest
print('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))
print('Largest Coefs: \n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))
'''

"\n# get the feature names as numpy array\nfeature_names = np.array(vect.get_feature_names())\n\n# Sort the coefficients from the model\nsorted_coef_index = model.coef_[0].argsort()\n\n# Find the 10 smallest and 10 largest coefficients\n# The 10 largest coefficients are being indexed using [:-11:-1] \n# so the list returned is in order of largest to smallest\nprint('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))\nprint('Largest Coefs: \n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))\n"

In [0]:
#Tfidf term frequency inverse documnet frequency
# it allows us to weight terms based on how imp they are to the document
'''
from sklearn.feature_extraction.text import TfidfVectorizer

# Fit the TfidfVectorizer to the training data specifiying a minimum document frequency of 5
vect = TfidfVectorizer(min_df=5).fit(X_train)
len(vect.get_feature_names())
'''
#will give same number of features as we got earlier
#min_df = 5 means the tfidf will remove those words that appear in fewer than 5 documents

'\nfrom sklearn.feature_extraction.text import TfidfVectorizer\n\n# Fit the TfidfVectorizer to the training data specifiying a minimum document frequency of 5\nvect = TfidfVectorizer(min_df=5).fit(X_train)\nlen(vect.get_feature_names())\n'

In [0]:
# features with high weight appear often in a particular document but not so often in corpus
# features with low tfidf are either used commonly across all the documents or rarely  in long documents

In [0]:
'''
X_train_vectorized = vect.transform(X_train)

model = LogisticRegression()
model.fit(X_train_vectorized, y_train)

predictions = model.predict(vect.transform(X_test))

print('AUC: ', roc_auc_score(y_test, predictions))
'''

"\nX_train_vectorized = vect.transform(X_train)\n\nmodel = LogisticRegression()\nmodel.fit(X_train_vectorized, y_train)\n\npredictions = model.predict(vect.transform(X_test))\n\nprint('AUC: ', roc_auc_score(y_test, predictions))\n"

In [0]:
'''
feature_names = np.array(vect.get_feature_names())

sorted_tfidf_index = X_train_vectorized.max(0).toarray()[0].argsort()

print('Smallest tfidf:\n{}\n'.format(feature_names[sorted_tfidf_index[:10]]))
print('Largest tfidf: \n{}'.format(feature_names[sorted_tfidf_index[:-11:-1]]))
'''

"\nfeature_names = np.array(vect.get_feature_names())\n\nsorted_tfidf_index = X_train_vectorized.max(0).toarray()[0].argsort()\n\nprint('Smallest tfidf:\n{}\n'.format(feature_names[sorted_tfidf_index[:10]]))\nprint('Largest tfidf: \n{}'.format(feature_names[sorted_tfidf_index[:-11:-1]]))\n"

In [0]:
'''
sorted_coef_index = model.coef_[0].argsort()

print('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))
print('Largest Coefs: \n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))
'''

"\nsorted_coef_index = model.coef_[0].argsort()\n\nprint('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))\nprint('Largest Coefs: \n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))\n"

In [0]:
'''
# These reviews are treated the same by our current model
print(model.predict(vect.transform(['not an issue, phone is working',
                                    'an issue, phone is not working'])))
'''

"\n# These reviews are treated the same by our current model\nprint(model.predict(vect.transform(['not an issue, phone is working',\n                                    'an issue, phone is not working'])))\n"

In [0]:
#n-grams

In [0]:
#we can add context by adding sequences of word features

In [0]:
'''
# Fit the CountVectorizer to the training data specifiying a minimum 
# document frequency of 5 and extracting 1-grams and 2-grams
vect = CountVectorizer(min_df=5, ngram_range=(1,2)).fit(X_train)

X_train_vectorized = vect.transform(X_train)

len(vect.get_feature_names())
'''

'\n# Fit the CountVectorizer to the training data specifiying a minimum \n# document frequency of 5 and extracting 1-grams and 2-grams\nvect = CountVectorizer(min_df=5, ngram_range=(1,2)).fit(X_train)\n\nX_train_vectorized = vect.transform(X_train)\n\nlen(vect.get_feature_names())\n'

In [0]:
'''
model = LogisticRegression()
model.fit(X_train_vectorized, y_train)

predictions = model.predict(vect.transform(X_test))

print('AUC: ', roc_auc_score(y_test, predictions))'''

"\nmodel = LogisticRegression()\nmodel.fit(X_train_vectorized, y_train)\n\npredictions = model.predict(vect.transform(X_test))\n\nprint('AUC: ', roc_auc_score(y_test, predictions))"

In [0]:
'''
feature_names = np.array(vect.get_feature_names())

sorted_coef_index = model.coef_[0].argsort()

print('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))
print('Largest Coefs: \n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))
'''

"\nfeature_names = np.array(vect.get_feature_names())\n\nsorted_coef_index = model.coef_[0].argsort()\n\nprint('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))\nprint('Largest Coefs: \n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))\n"

In [0]:
'''
# These reviews are now correctly identified
print(model.predict(vect.transform(['not an issue, phone is working',
                                    'an issue, phone is not working'])))
'''

"\n# These reviews are now correctly identified\nprint(model.predict(vect.transform(['not an issue, phone is working',\n                                    'an issue, phone is not working'])))\n"

# Text Modelling

In [0]:
import nltk
from nltk.corpus import wordnet as wn

In [0]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [0]:
# finding appropriate sense of words
deer = wn.synset('deer.n.01') # sysnet of deer which is a noun and gives the 1st synset

In [0]:
# to find path similarity
#deer.path_similarity(horse)

In [0]:
# to find lin similarity
nltk.download('wordnet_ic')
from nltk.corpus import wordnet_ic
brown_ic = wordnet_ic.ic('ic-brown.dat')

[nltk_data] Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet_ic.zip.

In [0]:
#deer.lin_similarity(elk, brown_ic)

In [0]:
from nltk.collocations import *

In [0]:
bigram_measures = nltk.collocations.BigramAssocMeasures()
finder = BigramCollocationFinder.from_words(text)
finder.nbest(bigram_measures.pmi, 10)
#finder.apply_freq_filter(10)

# Assignment 4